.h-pro{
    margin-top: 2%;
    margin-left: 1%;
}
.pro{
    line-height: 16px;
    max-height: 32px;
}
img {
    /* display: block; */
    width: 300px;
    height: 250px;
    /* border-radius: 50%; */
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 2%;
}
h6{
    margin-top: 20px;
}
.btnadd{
    width: 100%;
    margin-top: 20px;
}
.textarea{
    width: 100%;
    height: 100px;
}
#addnewcatalog{
    margin-top: 30px;
    margin-bottom: 10px;
}
.spesifikasi{
    border-bottom: 1px solid #ddd;
}
.diff{
    border-right: 1px solid #ddd;
}
input{
    width: 100%;    
}
#addspecsopt{
    margin-top: 20px;
}
#gajadiaddspecsopt{
    margin-top: 20px;
}
.divide{
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
}
#__lpform_namaproduk{
    display: none;
}
#__lpform_namaproduk_icon{
    display: none;
}