.img_produk {
    margin-top: 40px;
    margin-left: 20px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    padding-right: 15px;
}

.price_box {
    margin-top: 16px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
}

.price_box span {
    line-height: 16px;
}

.price_box span.old_price {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 20px;
    margin-left: 5px;
}

.price_box span.current_price {
    font-weight: 500;
    font-size: 20px;
    color: #79a206;
}

.product_info_button {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 29px;
}

.product_info_button ul li a {
    display: block;
    float: left;
    text-transform: capitalize;
    font-size: 20px;
    color: #555;
    font-weight: 500;
    margin-right: 35px;
    line-height: 26px;
    position: relative;
}

.product_info_button ul li a.active {
    color: #333333;
}

.product_info_button ul li a:hover {
    color: #333333;
}

.product_info_button ul li:last-child a {
    margin-right: 0;
}

.product_d_inner {
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px 30px 27px;
    border: 1px solid #e1e1e1;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.contain {
    margin-top: 30px;
}
.product_content{
    text-align: justify;
}
.product_meta{
    margin-bottom: 10px;
}
.btn-adm{
    width: 200px;
    height: 40px;
    margin: 10px;
    float: right;
}
.product_d_table table tbody tr td:first-child {
    border-right: 1px solid #ddd;
    width: 30%;
    font-weight: 700;
}
.product_d_table table tbody tr td {
    padding: 7px 17px;
}
.product_d_table table tbody tr {
    border-bottom: 1px solid #ddd;
}
table{
    margin-top: 10px;
    margin-bottom: 20px;
}