img {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}
.pro{
    line-height: 16px;
    max-height: 32px;
}
.card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 20px;
    text-justify: inter-word;
}
.btn-pro{
    float: right;
    margin-left: 2%;
}
.btn-adm{
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.ic_detail{
    font-size: 24px;
}
.price-text{
    font-size: 18px;
    color: #79a206;
}
.menu-produk{
    margin-top: 2%;
    margin-bottom: 1%;
    border-top: 1px solid #ddd;
}
.title-kat{
    border-bottom: 1px solid #ddd;
}
.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}