/*04. banner section css here */
.banner_area{
    margin-bottom: 88px;
    @media #{$tablet-device}{
        margin-bottom: 72px;
    }
    @media #{$large-mobile}{
      margin-bottom: 27px;
    }
    &.mb-68{
        @media #{$large-mobile}{
           margin-bottom: 29px;
        }
    }
}
.single_banner{
    @media #{$large-mobile}{
       margin-bottom: 30px;
    }
}
.banner_thumb{
    position: relative;
    &:hover{
        & img{
           opacity: 0.8; 
        }
    }
    & img{
        transition: .3s;
        @media #{$large-mobile}{
          width: 100%;
        }
    }
    
}
.banner_content {
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	la: 25px;
	left: 31px;
    @media #{$large-mobile}{
      left: 25px;
    }
    & h3{
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 17px;
        @media #{$tablet-device}{
            font-size: 16px;
            margin-bottom: 13px;
        }
        @media #{$large-mobile}{
            font-size: 13px;
            line-height: 17px;
            margin-bottom: 8px;
        }
    }
    & h2{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 0;
        @media #{$tablet-device}{
            font-size: 25px;
            line-height: 27px;
        }
        @media #{$large-mobile}{
            font-size: 19px;
            line-height: 22px;
            margin-bottom: 0;
        }
    }
    & a{
        font-size: 13px;
        line-height: 24px;
        font-weight: 500;
        display: inline-block;
        border-bottom: 2px solid $secondary_color;
        text-transform: uppercase;
        margin-top: 36px;
        &:hover{
            color: $secondary_color;
        }
        @media #{$tablet-device}{
            margin-top: 18px;
        }
        @media #{$large-mobile}{
            font-size: 13px;
            line-height: 21px;
            margin-top: 9px;
        }
    }
}




/*home four css here*/
.banner_area.banner_four_top .col-lg-3 {
    @media #{$small-mobile3}{
        width: 50%;
	    flex: 50%;;
    }
	
}
.banner_four_top{
    padding: 10px 5px 0;
    margin-bottom: 92px;
    @media #{$tablet-device}{
        margin-bottom: 62px;
    }
    @media #{$large-mobile}{
        margin-bottom: 47px;
    }
    & .col-lg-3.col-md-6{
        padding-right: 5px;
        padding-left: 5px;
    }
   
    & .banner_thumb{
        & img{
           @media #{$tablet-device}{
                width: 100%;
            } 
        }
    }
    & .single_banner{
        @media #{$tablet-device}{
            margin-bottom: 10px;
        }
        @media #{$large-mobile}{
             margin-bottom: 10px;
        }
    }
    & .banner_content{
        & h3{
            @media #{$desktop-device}{
                font-size: 16px;
                line-height: 17px;
                margin-bottom: 12px;
            }
        }
        & h2{
            @media #{$desktop-device}{
                font-size: 23px;
                line-height: 23px;
            }
        }
        & a{
            @media #{$desktop-device}{
                margin-top: 14px;
            }
        }
    }
    
}

.banner_fullwidth{
    background: url(../img/bg/banner7.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 45px 0;
    @media #{$large-mobile}{
        padding: 35px 0;
    }
}

.banner_fullwidth_content{
    & h3{
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media #{$tablet-device}{
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 15px
        }
        @media #{$large-mobile}{
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 13px;
        }
    }
    & h2{
        font-size: 60px;
        line-height: 60px;
        font-weight: 400;
        font-family: $Lora;
        margin-bottom: 22px;
        @media #{$desktop-device}{
          font-size: 50px;
            line-height: 50px;
        }
        @media #{$tablet-device}{
            font-size: 42px;
            line-height: 43px;
            margin-bottom: 16px;
        }
        @media #{$large-mobile}{
            font-size: 25px;
            line-height: 28px;
            margin-bottom: 14px;
        }
    }
    & p{
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 0;
        @media #{$large-mobile}{
           font-size: 16px;
            line-height: 22px;
        }
    }
    & a{
        font-size: 14px;
        font-weight: 500;
        padding: 17px 55px;
        display: inline-block;
        background: $fonts_color;
        color: #fff;
        border-radius: 30px;
        margin-top: 64px;
        &:hover{
            background: $secondary_color;
            color: #fff;
        }
        @media #{$tablet-device}{
            padding: 13px 40px;
            margin-top: 42px;
        }
         @media #{$large-mobile}{
           font-size: 13px;
            padding: 8px 26px;
            border-radius: 20px;
            margin-top: 26px;
        }
        
    }
}












